    /* Home.css */
    .home {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .layout {
        display: flex;
        flex: 1;
    }
    
    .header-container {
        width: 250px; /* Adjust width as needed */
        background-color: #fff; /* Adjust background as needed */
        border-right: 1px solid #ddd; /* Optional: border to separate the header */
        min-height: 100vh; /* Ensure the header spans the full height */
    }
    
    .main-content {
        flex: 1;
        background-color: white; /* Adjust background as needed */
        padding: 20px; /* Adjust padding as needed */
    }
    
    footer {
        background-color: #fff; /* Adjust background as needed */
        padding: 20px; /* Adjust padding as needed */
        border-top: 1px solid #ddd; /* Optional: border to separate the footer */
    }
    
    footer nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;
    }
    
    footer nav ul li {
        margin: 0 10px;
    }
    
    footer .copyright {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        color: #888;
    }
    